.hero-banner-link { 
  padding: 120px 0;  
  background-size: cover;
  background-position: center;
	.hero-banner-link-wrapper { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
		.featured-title { 

			margin-bottom: 50px;
		}
    .featured-button{
      display: inline-flex;
    }
	}
}