{{- define "main" -}}
<div class="post">
    <div class="post-header" style="background-image: url('{{.Site.BaseURL}}images/{{.Params.postImage}}')">
        <div class="container" data-aos="fade-up">
            <div class="date">{{ .Lastmod.Format "January 2, 2006" }}</div>
            <div class="title">
                <h1>{{ .Title }}</h1>
            </div>
            <div class="tags">
                <div class="tag">
                    {{ range .Params.tags }}
                        <span>{{ . }}</span>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="anchor-mobile-selector">
            <div class="mobile-selector-label">              
                <span>On this page</span>
                <img src="{{.Site.BaseURL}}images/icons/icon-angle-down.svg" alt="icon-angle-down">   
            </div>
            <div class="mobile-selector-options">
                <div class="mobile-selector-options-wrapper"></div>  
            </div>
        </div>
        <div class="post-body">               
            <div class="post-body-content">
                {{ .Content }}
            </div>
            <div class="post-sidebar">
                <div class="post-sidebar-anchors"></div>
            </div>
        </div>   
    </div>
</div>
{{ end }}