</main>
<footer>
  <div class="container">
    <div class="footer">
      <div class="footer-wrapper">
        <div class="footer-logo">
          <div class="footer-logo-img">
            <img src="{{.Site.BaseURL}}images/logos/logo-linkall-blue.svg" alt="logo-linkall-blue">            
          </div>
          <a target="_blank" href="https://wuxflfq60vk.typeform.com/to/MWbU3gri" class="featured-button"><span>Contact Us</span></a>
        </div>
        <div class="footer-cols">
          <div class="footer-cols-wrapper">
            <div class="footer-col">
              <h4><a href="{{.Site.BaseURL}}">Product</a></h4>							
            </div>                                              
            <div class="footer-col">
              <h4> <a target="_blank" href="https://docs.linkall.com/introduction/what-is-vanus">Docs</a></h4>							
            </div>                                              
            <div class="footer-col">
              <h4><a href="{{.Site.BaseURL}}blog">Blog</a></h4>							
            </div>                                              
          </div>
        </div>
        <div class="footer-bottom">
          <div class="footer-bottom-menu">
            <ul>
              <li><a href="{{.Site.BaseURL}}"><span>© 2022 Linkall, Inc.</span></a></li>
              <!--li><a href="{{.Site.BaseURL}}legal/terms-of-service"><span>Terms of service</span></a></li>
              <li><a href="{{.Site.BaseURL}}legal/privacy-policy"><span>Privacy Policy</span></a></li-->
            </ul>
          </div>
          <div class="footer-bottom-social">
            <ul>
              <li><a target="blank" href="https://github.com/linkall-labs"><img src="{{.Site.BaseURL}}images/social/github.svg" alt="github"></a></li>
              <li><a target="blank" href="https://www.linkedin.com/company/linkall-cloud/"><img src="{{.Site.BaseURL}}images/social/linkedin.svg" alt="linkedin"></a></li>
              <li><a target="blank" href="https://join.slack.com/t/vanusworkspace/shared_invite/zt-1jilbbfo2-NxiFG0VOo8ABGCCNaeNfcA"><img src="{{.Site.BaseURL}}images/social/slack.svg" alt="slack"></a></li>
            </ul>
            <a target="_blank" href="https://wuxflfq60vk.typeform.com/to/MWbU3gri" class="featured-button"><span>Contact Us</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>