<header>
    <div class="header">
        <div class="header-wrapper">
            <div class="header-logo">
                <a href="{{.Site.BaseURL}}">
                    <img src="{{.Site.BaseURL}}images/logos/logo-linkall.svg" alt="logo-linkall">
                </a>                
            </div>
            <div class="header-menu">
                <nav>
                    <div class="nav-item">                          
                        <a href="{{.Site.BaseURL}}">
                            <span>Product</span>                        
                        </a>
                    </div>
                    <div class="nav-item">                          
                        <a target="_blank" href="https://docs.linkall.com/introduction/what-is-vanus">
                            <span>Docs</span>                        
                        </a>
                    </div>
                    <div class="nav-item">                          
                        <a href="{{.Site.BaseURL}}blog/">
                            <span>Blog</span>                        
                        </a>
                    </div>
                    {{ $currentPage := . }}
                    {{ $siteUrl := .Site.BaseURL }}
                    {{ range .Site.Menus.main }}                        
                        {{ if and (.HasChildren) (eq .Params.hide false )}}
                        <div class="nav-item {{ if .HasChildren }}has-children{{ end }}">                                                    
                            <a href="{{ if .HasChildren }}#{{ else }}{{ .URL }}{{ end }}" class="">
                                <span>{{ .Name }}</span>
                            </a>
                                <div class="sub-menu">
                                    {{ if .HasChildren }}
                                    <div class="sub-menu-wrapper">
                                        {{ range .Children }}
                                        <div class="sub-menu-item">
                                            <a href="{{ .URL }}" class="pure-menu-link">{{ .Name }}</a>
                                        </div>
                                        {{ end }}
                                    </div>
                                    {{ end }}
                                </div>
                        </div>
                        {{ else }}
                            {{ if or (eq .Name "Company") (eq .Name "Community") }}
                                {{ if and (eq .Name "Community")  (eq .Params.hide false ) }}                                
                                <div class="nav-item has-children">
                                    <a href="{{ .URL }}" >
                                        <span>{{ .Name }}</span>
                                    </a>
                                    <div class="sub-menu">
                                        <div class="sub-menu-wrapper">
                                            <div class="sub-menu-item">
                                                <a href="{{ $siteUrl }}event">Events</a>
                                            </div>
                                            <div class="sub-menu-item">
                                                <a target="_blank" href="https://github.com/linkall-labs">Github</a>
                                            </div>
                                            <div class="sub-menu-item">
                                                <a target="_blank" href="https://join.slack.com/t/vanusworkspace/shared_invite/zt-1jilbbfo2-NxiFG0VOo8ABGCCNaeNfcA">Slack</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{ end }}
                                {{ if and (eq .Name "Company") (eq .Params.hide false ) }}                                
                                <div class="nav-item has-children">
                                    <a href="{{ .URL }}" >
                                        <span>{{ .Name }}</span>
                                    </a>
                                    <div class="sub-menu">
                                        <div class="sub-menu-wrapper">
                                            <div class="sub-menu-item">
                                                <a target="_blank" href="https://wuxflfq60vk.typeform.com/to/MWbU3gri">Contact us</a>
                                            </div>
                                            <div class="sub-menu-item">
                                                <a href="{{ $siteUrl }}company#careers">Careers</a>
                                            </div>
                                            <div class="sub-menu-item">
                                                <a href="{{ $siteUrl }}company#about-us">About Us</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{ end }}
                            {{ else }}
                                {{ if (eq .Params.hide false ) }}   
                                <div class="nav-item">
                                    <a href="{{ if .HasChildren }}#{{ else }}{{ .URL }}{{ end }}" class="">
                                        <span>{{ .Name }}</span>
                                    </a>
                                </div>
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    {{ end }}                    
                </nav>
            </div>
            <div class="header-git">                
                <div class="header-git-item" id="git-fork">
                    <a class="github-button" href="https://github.com/linkall-labs/vanus/" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork EvanLi/programming-book on GitHub">Fork</a>
                </div>
                <div class="header-git-item" id="git-star-ic">
                    <a class="github-button" href="https://github.com/linkall-labs/vanus/" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star EvanLi/programming-book on GitHub">Star</a>
                </div>
            </div>
            <div class="header-social">
                <div class="header-social-item" id="slack">
                    <a target="blank" href="https://join.slack.com/t/vanusworkspace/shared_invite/zt-1jilbbfo2-NxiFG0VOo8ABGCCNaeNfcA"><img src="{{.Site.BaseURL}}images/social/slack-color.svg" alt="slack-color">  </a>
                </div>               
            </div>
            <div class="header-accces">                
                <a target="_blank" href="https://play.linkall.com" class="featured-button"><span>Playground</span></a>
            </div>
            <div class="header-menu-mobile-trigger">
                <img src="{{.Site.BaseURL}}images/icons/icon-menu.svg" alt="icon-menu">    
            </div>
        </div>
    </div>
    <div class="header-mobile-menu-overlay"></div>
    <div class="header-mobile-menu-close">
        <img src="{{.Site.BaseURL}}images/icons/icon-close.svg" alt="icon-close">
    </div>
    <div class="header-mobile-menu">
        <div class="header-mobile-menu-logo">
            <img src="{{.Site.BaseURL}}images/logos/logo-linkall-white.svg" alt="logo-linkall">
        </div>
        <div class="header-mobile-menu-wrapper">
            <div class="nav-mobile">
                <div class="nav-item">                          
                    <a href="{{.Site.BaseURL}}" class="">
                        <span>Product</span>                        
                    </a>
                </div>
                <div class="nav-item">                          
                    <a target="_blank" href="https://docs.linkall.com/introduction/what-is-vanus">
                        <span>Docs</span>                        
                    </a>
                </div>
                <div class="nav-item">                          
                    <a href="{{.Site.BaseURL}}blog/">
                        <span>Blog</span>                        
                    </a>
                </div>
                {{ range .Site.Menus.main }}
                    {{ if and (.HasChildren) (eq .Params.hide false )}}
                    <div class="nav-item {{ if .HasChildren }}has-children{{ end }}">
                        <a href="{{ if .HasChildren }}#{{ else }}{{ .URL }}{{ end }}" class="">                            
                            <div class="nav-item-name">{{ .Name }} <img src="images/icons/icon-angle-down.svg"></div>
                            <div class="sub-menu">
                                {{ if .HasChildren }}
                                <div class="sub-menu-wrapper">
                                    {{ range .Children }}
                                    <div class="sub-menu-item">
                                        <a href="{{ .URL }}" class="pure-menu-link">{{ .Name }}</a>
                                    </div>
                                    {{ end }}
                                </div>
                                {{ end }}
                            </div>
                        </a>
                    </div>                    
                    {{ else }}
                        {{ if eq .Params.hide false  }}         
                        <div class="nav-item">
                            <a href="{{ if .HasChildren }}#{{ else }}{{ .URL }}{{ end }}" class="" tabindex="0">
                                <span>{{ .Name }}</span>                        
                            </a>
                        </div>
                        {{ end }}
                    {{ end }}
                {{ end }}                    
            </div>
        </div>
    </div>
</header>
<main>